body {
    background-color: #94B3FD;
}

.App {
    display: flex;
    justify-content: center;
}

.text {
    font-size: 20px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    margin-top: 50px;
    font-size: 40px;
    color: #1C0C5B;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 30px;
    color: #1C0C5B;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn {
    color: #1C0C5B;
    background-color: #B983FF;
    border: #1C0C5B 1px solid;
    padding: 30px;
    border-radius: 20px;
    margin: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}